* {
    box-sizing: border-box;
}

body.custom {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: rgb(0,0,0);
}

div.main-container {
    width: calc(100% - 40px);
    height: calc(100vh - 140px);
    margin: 20px;
    padding: 20px;
}

div.main-container div.document-container p,div.main-container div.document-container li{
    font-size: large;
}

div.main-container div.document-container strong{
    color: rgb(255, 166, 0);
}

div.main-container div.document-container li::marker{
    color: rgb(255, 166, 0);
}

div.main-container div.document-container h1{
    margin-top: 40px;
    background: linear-gradient(45deg, rgb(19, 19, 19), rgb(32, 32, 32));
    border-radius: 5px;
    padding: 20px;
}

div.main-container div.document-container h2{
    margin-top: 40px;
    background: linear-gradient(45deg, rgb(19, 19, 19), rgb(32, 32, 32));
    border-radius: 5px;
    padding: 10px;
}

div.main-container div.document-container h3{
    margin-top: 40px;
    background: linear-gradient(45deg, rgb(19, 19, 19), rgb(32, 32, 32));
    border-radius: 5px;
    padding: 10px;
}
div.main-container div.document-container pre{
    direction: ltr;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    overflow-x: scroll;
    padding: 20px;
    font-size: large;
}


div.main-container div.document-container code{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: yellow;

}

div.main-container div.document-container a {
    transition: color 0.3s ease;
    color: rgb(0, 255, 42);
}



div.main-container div.document-container a:hover {
    transition: color 0.3s ease;
    color: purple;
}

/* Table Styles */
div.main-container div.document-container table {
    width: 100%;
    border-collapse: collapse;
}
  
div.main-container div.document-container table thead {
    background-color:rgb(88, 88, 88);
}
  
div.main-container div.document-container table th {
    padding: 10px;
    text-align: right;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}
  
div.main-container div.document-container table tbody tr:nth-child(even) {
    background-color: rgb(54, 54, 54);
}
  
div.main-container div.document-container table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
  


div.main-container div.doc-info-container{
    width: 60%;
    height: 80px;
    scrollbar-color: rgba(0,0,0,0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(19, 19, 19);
    color: rgb(255,255,255);
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

div.main-container div.document-container{
    width: 60%;
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgba(0,0,0,0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(19, 19, 19);
    color: rgb(255,255,255);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}


@media (max-width: 920px) {
    div.main-container div.document-container{
        width: 100%;
        height: calc(100% - 80px);
        margin-left: 1px;
        margin-right: 1px;
    }
    div.main-container div.doc-info-container {
        width: 100%;
        margin-left: 1px;
        margin-right: 1px;
    }
}
div.main-container div.document-container::-webkit-scrollbar {
    display: none;
}



  