div.message-background-cover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(218, 218, 218, 0.76);
    z-index: 10000;
    display: none;
}

div.message-background-cover div.message-box {
    margin: 20vw;
    width: 60vw;
    background-color: rgba(20, 6, 138, 0.801);
    box-shadow: 4px 4px 8px rgba(54, 54, 54, 0.397);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color:aqua;
    
}

div.message-background-cover div.message-box button.message-okay {
    transition: background-color 0.3s ease;
    list-style-type: none;
    background-color: green;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    font-size: large;
    float: right;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.message-background-cover div.message-box button.message-okay:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(213, 241, 238);
    
}