body.custom {
    margin: 0;
    padding: 0;
    font-family: 'Exo';
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
}

div#contact-container {
    height: calc(100% - 91px);
    overflow-y: scroll;
    padding: 10px;
    color: rgb(255, 255, 255);
}